<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="static/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
</head>
<body class="first-color">
    <div class="titlecard second-color">
    <h1>{{ title }}</h1>

    <ul class="card" id="navigation">
    {% for gallery in galleries %}
        <li class="link third-color"><a href="{{ gallery }}">{{ gallery }}</a></li>
    {% endfor %}
    </ul>
    </div>
</body>
</html>
