<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="static/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
</head>
<body class="first-color">
    <div class="titlecard second-color">
    <h1>{{ title }}</h1>

    {% if description %}
    <p class="card second-color">
    {% autoescape false %}
    {{ description }}
    {% endautoescape %}
    </p>
    {% endif %}

    <ul class="card second-color" id="navigation">
    {% for page in pages %}
        <li class="link third-color"><a href="{{ gallery }}/{{ page.number }}">{{ page.number }}</a></li>
    {% endfor %}
    </ul>
    </div>
</body>
</html>
